affine==2.2.1
appdirs==1.4.3
attrs==18.2.0
backports-abc==0.5
backports.functools-lru-cache==1.5
bokeh==1.0.2
certifi==2018.11.29
chardet==3.0.4
click==6.7
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
dbfpy==2.3.1
decorator==4.3.0
descartes==1.1.0
Django==1.11.20
download==0.3.3
earthpy===0.0.3a-git
elevation==1.0.5
enum34==1.1.6
fasteners==0.14.1
Fiona==1.8.4
future==0.17.1
futures==3.2.0
geopandas==0.4.0
idna==2.8
image==1.5.27
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
monotonic==1.5
munch==2.3.2
networkx==2.2
numpy==1.15.4
opencv-python==4.0.0.21
packaging==18.0
palettable==3.1.1
pandas==0.23.4
Pillow==5.3.0
prettytable==0.7.2
pydot==1.4.1
pygdal==2.3.1.4
pyparsing==2.3.0
pyproj==1.9.5.1
PySAL==1.14.4.post2
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
rasterio==1.0.13
requests==2.21.0
Rtree==0.8.3
scikit-image==0.14.1
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
Shapely==1.6.4.post2
singledispatch==3.4.0.3
six==1.11.0
snuggs==1.4.2
subprocess32==3.5.3
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
treeinterpreter==0.2.2
urllib3==1.24.1
xlrd==1.1.0
XlsxWriter==1.1.2
